#content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.loader_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  background-color: #0000005e;
  backdrop-filter: blur(2px);
  z-index: 100;
}

.loader {
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-left-color: #1c64f2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

audio {
  width: 100%;
  margin-top: 10px;
}